.title {
  color: white;
  font-size: 50px;
  letter-spacing: 10%;
  font-family: var(--font-outfit);
  text-transform: uppercase;
  font-weight: 50;
}

.subtitle {
  color: white;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 20%;
  text-transform: capitalize;
}
